Backup/Web References/WipService/AccountMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AccountMessages.xsd" xmlns:import="http://mpowersystems.com/AccountData.xsd" xmlns="http://mpowersystems.com/AccountMessages.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AccountMessages.xsd" id="AccountMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AccountData.xsd" namespace="http://mpowersystems.com/AccountData.xsd" />
  <xs:element name="getAccountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="import:account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="maxResultCount" nillable="true" type="xs:int" />
        <xs:element name="startingResultNumber" nillable="true" type="xs:int" />
        <xs:element name="accountIdRangeStart" nillable="true" type="xs:long" />
        <xs:element name="accountIdRangeEnd" nillable="true" type="xs:long" />
        <xs:element name="firstName" type="xs:string" />
        <xs:element name="lastName" type="xs:string" />
        <xs:element name="organization" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element default="false" name="searchAllAddressTypes" type="xs:boolean" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zipCode" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="phoneNumber" type="xs:string" />
        <xs:element name="orderId" nillable="true" type="xs:long" />
        <xs:element name="emailAddress" type="xs:string" />
        <xs:element name="noteType" type="xs:string" />
        <xs:element name="codeType" type="xs:string" />
        <xs:element name="codeValue" type="xs:string" />
        <xs:element default="false" name="includeInactiveRecords" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accounts" type="import:accounts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="import:accountInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="import:account" />
        <xs:element default="false" name="overrideLock" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountSalutationsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="salutationType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountSalutationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountSalutations" type="import:accountSalutations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountSalutationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountSalutation" type="import:accountSalutation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountSalutationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountSalutationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountSalutation" type="import:accountSalutation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountSalutationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountSalutationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountSalutation" type="import:accountSalutation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountSalutationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountEmailAddressesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountEmailAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountEmailAddresses" type="import:accountEmailAddresses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountEmailAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountEmailAddress" type="import:accountEmailAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountEmailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountEmailAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountEmailAddress" type="import:accountEmailAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountEmailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountEmailAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountEmailAddress" type="import:accountEmailAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountEmailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountPhoneNumbersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="phoneType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountPhoneNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountPhoneNumbers" type="import:accountPhoneNumbers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountPhoneNumberRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountPhoneNumber" type="import:accountPhoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountPhoneNumberRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountPhoneNumber" type="import:accountPhoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountPhoneNumberRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountPhoneNumber" type="import:accountPhoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountAddressesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="addressType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountAddresses" type="import:accountAddresses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountNotesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="noteType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNotes" type="import:accountNotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountNoteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNote" type="import:accountNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountNoteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNote" type="import:accountNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountNoteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNote" type="import:accountNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountCodesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="codeType" type="xs:string" />
        <xs:element name="codeValue" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountCodes" type="import:accountCodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountCodeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountCode" type="import:accountCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountCodeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountCode" type="import:accountCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountCodeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountCode" type="import:accountCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountFinancialsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountFinancials" type="import:accountFinancials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountRelationshipsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="relationshipType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountRelationshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountRelationships" type="import:accountRelationships" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountPledgesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="pledgeCode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountPledgesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountPledges" type="import:accountPledges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountDatesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="dateType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountDates" type="import:accountDates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountAddress" type="import:accountAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountAddress" type="import:accountAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountDuplicatesCustomRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getAccountDuplicatesCustomParameters" type="import:getAccountDuplicatesCustomParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountDuplicatesCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountDuplicatesCustom" type="import:accountDuplicatesCustom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>