Backup/Web References/WipService/HeaderData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/HeaderData.xsd" xmlns="http://mpowersystems.com/HeaderData.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/HeaderData.xsd" id="HeaderData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="credentials">
    <xs:sequence>
      <xs:element name="userName" type="xs:string" />
      <xs:element name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userCredentials" type="mstns:credentials" />
</xs:schema>