Web References/WipReference/ProjectData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/ProjectData.xsd" xmlns="http://mpowersystems.com/ProjectData.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/ProjectData.xsd" id="ProjectData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="segmentation">
    <xs:sequence>
      <xs:element name="segmentationId" type="xs:long" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="category" type="xs:string" />
      <xs:element name="input" type="xs:string" />
      <xs:element name="motivationCode" type="xs:string" />
      <xs:element name="costs" nillable="true" type="xs:decimal" />
      <xs:element name="lastRun" nillable="true" type="xs:dateTime" />
      <xs:element name="complete" type="xs:boolean" />
      <xs:element name="completeDate" nillable="true" type="xs:date" />
      <xs:element name="note" type="xs:string" />
      <xs:element name="active" type="xs:boolean" />
      <xs:element name="addDate" type="xs:date" />
      <xs:element name="addUserId" type="xs:int" />
      <xs:element name="modifiedDate" nillable="true" type="xs:date" />
      <xs:element name="modifiedUserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="segmentations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="segmentationList" type="mstns:segmentation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="segmentationGroup">
    <xs:sequence>
      <xs:element name="segmentationGroupId" type="xs:long" />
      <xs:element name="segmentationId" type="xs:long" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="accountCount" type="xs:long" />
      <xs:element name="motivationCode" type="xs:string" />
      <xs:element name="note" type="xs:string" />
      <xs:element name="modified" type="xs:boolean" />
      <xs:element name="active" type="xs:boolean" />
      <xs:element name="locked" type="xs:boolean" />
      <xs:element name="userField1" type="xs:string" />
      <xs:element name="userField2" type="xs:string" />
      <xs:element name="userField3" type="xs:string" />
      <xs:element name="userField4" type="xs:string" />
      <xs:element name="userField5" type="xs:string" />
      <xs:element name="userField6" type="xs:string" />
      <xs:element name="userField7" type="xs:string" />
      <xs:element name="userField8" type="xs:string" />
      <xs:element name="addDate" type="xs:date" />
      <xs:element name="addUserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="segmentationGroups">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="segmentationGroupList" type="mstns:segmentationGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="segmentationGroupResult">
    <xs:sequence>
      <xs:element name="entityId" type="xs:long" />
      <xs:element name="firstName" type="xs:string" />
      <xs:element name="lastName" type="xs:string" />
      <xs:element name="organizationName" type="xs:string" />
      <xs:element name="isOrganization" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="segmentationGroupResults">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="segmentationGroupResultList" type="mstns:segmentationGroupResult" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>