Web References/Wip/AdminMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AdminMessages.xsd" xmlns="http://mpowersystems.com/AdminMessages.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AdminMessages.xsd" id="AdminMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getServerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serverReady" type="xs:boolean" />
        <xs:element name="statusDescription" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServerStatusRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="invalidateCacheRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="invalidateCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>