Web References/WipService/AccountGiftPictureMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AccountGiftPictureMessages.xsd" xmlns:import="http://mpowersystems.com/AccountGiftPictureData.xsd" xmlns="http://mpowersystems.com/AccountGiftPictureMessages.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AccountGiftPictureMessages.xsd" id="AccountGiftPictureMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AccountGiftPictureData.xsd" namespace="http://mpowersystems.com/AccountGiftPictureData.xsd" />
  <xs:element name="getAccountGiftPictureByEntityIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountGiftPictureByEntityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entityGiftPictureHeader" type="import:entityGiftPictureHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountGiftPictureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entityGiftPictureHeader" type="import:entityGiftPictureHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountGiftPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entityGiftPictureHeaderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountGiftPictureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entityGiftPictureHeader" type="import:entityGiftPictureHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountGiftPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountGiftPictureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entityGiftPictureHeaderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountGiftPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>