Web References/WipService/AccountRecurringGiftData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AccountRecurringGiftData.xsd" xmlns="http://mpowersystems.com/AccountRecurringGiftData.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AccountRecurringGiftData.xsd" id="AccountRecurringGiftData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="accountRecurringGift">
    <xs:sequence>
      <xs:element name="accountId" type="xs:long" />
      <xs:element name="batchRecurId" type="xs:long" />
      <xs:element name="giftRecurId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountRecurringGifts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="accountRecurringGiftList" type="mstns:accountRecurringGift" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>