Web References/WipService/AccountDateMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AccountDateMessages.xsd" xmlns:import="http://mpowersystems.com/AccountData.xsd" xmlns="http://mpowersystems.com/AccountDateMessages.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AccountDateMessages.xsd" id="AccountDateMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AccountData.xsd" namespace="http://mpowersystems.com/AccountData.xsd" />
  <xs:element name="insertAccountDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountDate" type="import:accountDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountDate" type="import:accountDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
        <xs:element name="accountDateId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>