Web References/WipService/AccountCreditCardData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AccountCreditCardData.xsd" xmlns="http://mpowersystems.com/AccountCreditCardData.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AccountCreditCardData.xsd" id="AccountCreditCardData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entityCreditCard">
    <xs:sequence>
      <xs:element name="entityId" type="xs:long">
        <xs:annotation>
          <xs:documentation>Entity id number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bankName" type="xs:string" />
      <xs:element name="addUserId" nillable="true" type="xs:long" />
      <xs:element name="changeUserId" nillable="true" type="xs:long" />
      <xs:element name="entityCreditCardId" nillable="true" type="xs:long" />
      <xs:element name="addDate" type="xs:date" />
      <xs:element name="changeDate" nillable="true" type="xs:date" />
      <xs:element name="lastUseDate" nillable="true" type="xs:date" />
      <xs:element name="cardNumberEncrypted" nillable="true" type="xs:base64Binary" />
      <xs:element name="creditCardNumber" type="xs:string" />
      <xs:element name="creditCardType" type="xs:string" />
      <xs:element name="entityAddressType" type="xs:string" />
      <xs:element name="expirationDate" type="xs:string" />
      <xs:element name="nameOnCard" type="xs:string" />
      <xs:element name="note" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>