Web References/WipService/AccountGiftPictureData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AccountGiftPictureData.xsd" xmlns="http://mpowersystems.com/AccountGiftPictureData.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AccountGiftPictureData.xsd" id="AccountGiftPictureData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entityGiftPictureHeader">
    <xs:sequence>
      <xs:element name="entityGiftPictureHeaderId" type="xs:long">
        <xs:annotation>
          <xs:documentation>Gift picture header id number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="entityId" type="xs:long" />
      <xs:element name="mediaCode" type="xs:string" />
      <xs:element name="mediaProgramId" nillable="true" type="xs:long" />
      <xs:element name="paymentType" type="xs:string" />
      <xs:element name="paymentNumber" type="xs:string" />
      <xs:element name="creditCardType" type="xs:string" />
      <xs:element name="creditCardExpirationDate" nillable="true" type="xs:date" />
      <xs:element name="cardNumberEncrypted" nillable="true" type="xs:base64Binary" />
      <xs:element name="bankAccountNumber" type="xs:string" />
      <xs:element name="bankRoutingNumber" type="xs:string" />
      <xs:element name="bankAccountType" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="entityGiftPictureDetails" type="mstns:entityGiftPictureDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entityGiftPictureDetail">
    <xs:sequence>
      <xs:element name="entityGiftPictureDetailId" type="xs:long">
        <xs:annotation>
          <xs:documentation>Gift picture detail id number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="entityGiftPictureHeaderId" type="xs:long" />
      <xs:element name="amount" type="xs:decimal" />
      <xs:element name="motivationCode" type="xs:string" />
      <xs:element name="projectCode" type="xs:string" />
      <xs:element name="category" type="xs:string" />
      <xs:element name="pledgeId" nillable="true" type="xs:long" />
      <xs:element name="relatedPersonId" nillable="true" type="xs:long" />
      <xs:element name="isDeductible" type="xs:boolean" />
      <xs:element name="isAnonymous" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>