Web References/WipService/AccountRecurringGiftMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mstns="http://mpowersystems.com/AccountRecurringGiftMessages.xsd" xmlns:import="http://mpowersystems.com/AccountRecurringGiftData.xsd" xmlns="http://mpowersystems.com/AccountRecurringGiftMessages.xsd" elementFormDefault="qualified" targetNamespace="http://mpowersystems.com/AccountRecurringGiftMessages.xsd" id="AccountRecurringGiftMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AccountRecurringGiftData.xsd" namespace="http://mpowersystems.com/AccountRecurringGiftData.xsd" />
  <xs:element name="insertAccountRecurringGiftRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountRecurringGift" type="import:accountRecurringGift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAccountRecurringGiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountRecurringGiftRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountRecurringGift" type="import:accountRecurringGift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountRecurringGiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountRecurringGiftRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountRecurringGift" type="import:accountRecurringGift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountRecurringGiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountRecurringGiftsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountRecurringGiftsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountRecurringGifts" type="import:accountRecurringGifts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>